{
	"presets": [ ["next/babel",{
    "module-resolver":{
      "root": ["./"],
      "extensions":[".ts", ".tsx", "js", "jsx"],
      "alias": {
        "@": "./static"
      }
    }
  }], "@babel/preset-react","@babel/preset-typescript"],
	"plugins": [
		[
      "react-css-modules",
      {
        "webpackHotModuleReloading": true,
        "generateScopedName": "[local]___[hash:base64:5]",
        "handleMissingStyleName": "warn",
        "autoResolveMultipleImports": true
      }
    ],
    ["module-resolver",{
      "root": ["./"],
      "extensions":[".ts", ".tsx", "js", "jsx"],
      "alias": {
        "@": "./static"
      }
    }]
  ]
}
