{
	"presets": ["next/babel", "@babel/preset-react","@babel/preset-typescript"],
	"plugins": [
		[
      "react-css-modules",
      {
        "webpackHotModuleReloading": true,
        "generateScopedName": "[local]___[hash:base64:5]",
        "handleMissingStyleName": "warn",
        "autoResolveMultipleImports": true
      }
    ],
    ["module-resolver",{
      "root": ["./"],
      "extensions":[".ts", ".tsx", "js", "jsx"],
      "alias": {
        "@": "./src",
        "@img":"./public/img",
        "@svg":"./public/svg"
      }
    }]
  ]
}
