{
	"presets": ["next/babel", "@babel/preset-react","@babel/preset-typescript"],
	"plugins": [
		[
      "react-css-modules",
      {
        "webpackHotModuleReloading": true,
        "generateScopedName": "[local]___[hash:base64:5]",
        "handleMissingStyleName": "warn",
        "autoResolveMultipleImports": true
      }
    ],
    ["module-resolver",{
      "root": ["./"],
      "extensions":[".ts", ".tsx", "js", "jsx"],
      "alias": {
        "@": "./src",
        "@img":"./public/img",
        "@svg":"./public/svg"
      }
    }],
    ["import", {
      "libraryName": "antd",
      "libraryDirectory": "lib",
      "style": "css" // `style: true` 会加载 less 文件
    },"antd"],
    ["import", {
      "libraryName": "antd-mobile",
      "libraryDirectory": "lib",
      "style": "css" // `style: true` 会加载 less 文件
    },"antd-mobile"]
  ]
}
